{% extends "partials/template.twig" %}

{% block content %}
    <div class="container">

        <div class="row mt-4">
            <div class="col-12">
                <h3 class="text-right">لیست محصولات پزشکی موجود در انبار</h3>
            </div>

            <div class="col-12">
                <table class="table table-striped table-hover table-bordered text-center" id="products">
                    <thead>
                    <tr>
                        <th>ردیف</th>
                        <th>کد محصول</th>
                        <th>تخفیف</th>
                        <th>نام</th>
                        <th>قیمت</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% set i=1 %}
                    {% for product in product %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ product.id }}</td>
                            <td>
                                {% if (product.discount) %}
                                   <badge>دارد</badge>
                                {% endif %}
                            </td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price|number_format }}</td>
                        </tr>
                        {% set i=i+1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-12">
                <a href="{{ 'insertProduct' }}" class="btn btn-primary">خرید محصول</a>
            </div>
        </div>
    </div>
{% endblock %}
